doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
      div
        ul
          li
            a(href='/users')
              |Users
          li
            a(href='/productr')
              |Products
      block content